.pbarContainer {
    border: solid 1px black;
    width: 90%;
    height: 15px;
    text-align: center;
}

.pbarBackground {
    width: 100%;
    height: inherit;
    position: inherit;
    background: darkslategray;
}

.pbarText {
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: small;
    color: white;
    margin-top: -17px;
}

.hpBar {
    width: 100%;
    height: inherit;
    position: inherit;
    background: red;
    transition: 0.2s;
}

.energyBar {
    width: 100%;
    height: inherit;
    position: inherit;
    background: blue;
    transition: 0.2s;
}

.happinessBar {
    width: 100%;
    height: inherit;
    position: inherit;
    background: green;
    transition: 0.2s;
}
